@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #f6e8d3;
  --secondary-color: #0f6374;
  --tertiary-color: #f6af4c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000000;
  font-size: 16px;
  background-color: var(--primary-color);
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: underline;
  color: var(--secondary-color);
}

.secondary-header {
  font-size: 1.5rem;
  font-weight: 500;
}

select {
  -webkit-appearance: none;
}