@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #f6e8d3;
  --secondary-color: #0f6374;
  --tertiary-color: #f6af4c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000000;
  font-size: 16px;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: var(--primary-color);
}

h1 {
  font-size: 32px;
}

.secondary-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.global-input {
  height: 3rem;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #fcfcfc;
  color: #343434;
  font-size: 1rem;
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
