.global-input {
  height: 3rem;
  padding: 0px 0.5rem;
  border: 0;
  box-sizing: border-box;
  border-radius: 0.25rem;
  background-color: #fcfcfc;
  color: #343434;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.icon-div-for-input {
  display: flex;
  position: absolute;
  right: 0;
  top: 0.75rem;
  display: block;
  height: 100%;
  margin-right: 1rem;
}
